* {
    border-radius: 30px;
    padding: 8px;  
    text-align: center;

} body{
    min-height: 100vh;
    transition: 1s;

}
img {
    margin:15px;
    height: 300px;
    visibility: hidden;
    
}

.show {
    visibility: visible;
}

.mouseEvent {
    border: 6px solid salmon;
    width: 220px;
    padding: 35px;
    left: 5%;
    position: absolute;
    transform: translateX(-50%);

}

.themeContainer {
    position: fixed;
    top: 0;
}

.theme{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

#dark {
    background: black;
}

#salmon {
    background: salmon;
}

#yellow {
    background: yellow;
}

#white {
    background: white;
}
.darkTheme {
    background:black;
    color: antiquewhite;
}

.salmonTheme {
    background:salmon;
   
}
.yellowTheme {
    background:yellow;
    
}

.whiteTheme {
    background: white;
    color: black;
}