* {
    border-radius: 30px;
    padding: 8px;  
    text-align: center;

} body{
    min-height: 100vh;
    transition: 1s;

}
img {
    margin:15px;
    height: 300px;
    visibility: hidden;
    
}

.show {
    visibility: visible;
}